\\Menu
aside {
    
    
} aside h1 {
    
} aside ul {
    list-style-type: none;
    
} aside a {
    text-decoration: none;
    
}


\\Main content
body {
    font-family: "Orbitron", sans-serif;
} body h1 {
    
} body h2 {
    
} body ul {
    list-style-type: none;
} 


\\Footer
footer {
    
} footer h4 {
    
} footer ul {
    list-style-type: none;
} footer a {
    text-decoration: none;
}