/*Menus*/
aside {
    background-image: url(Media/background/2861653.jpg);
    padding: 0.5%;
    background-attachment: fixed;
    background-size: cover;
    color: whitesmoke;
} aside h1 {
    font-family: "Share Tech Mono", sans-serif;
    font-size: 25px;
    text-align: left;
    
} aside ul {
    list-style-type: none;
} aside a {
    text-decoration: none;
    color: whitesmoke;
    
} body aside ul {
    background-image: none;
}


/*Main content*/
body {
    background-color: rgb(255, 255, 255);
} div h1 {
    font-family: "Audiowide", sans-serif;
    font-size: 90px;
    text-align: center;
    background-image: url(Media/background/2861653.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 26%;
} main h1 {
    font-family: "Press Start 2P", sans-serif;
    font-size: 25px;
    padding-top: 20px;
    
} main p {
    font-family: "Iceland", sans-serif;
    font-size: 30px;
    text-align: left;
    width: 500px;
    background-image: url(Media/background/backgroundteste1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: azure;
    background-size: auto;
    padding: 4%;
}  main li {
    display: inline-block;
} body ul {
    list-style-type: none;
    background-image: url(Media/background/vector-backgrond-lines_2065-248.jpg);
    background-repeat: inherit;
    background-size: cover;
} main h2 {
    font-family: "Gugi", sans-serif;
    font-size: 30px;
    font-style: oblique;
    margin-left: 40px;
    margin-top: 40px;
} ul h3 {
    font-family: "Bangers", sans-serif;
    font-size: 30px;
    padding: 2%;
    text-align:left;
    background-size: cover;
    background-attachment: inherit;
} ul h4 {
    font-size: 30px;
    padding: 2%;
    font-family: "Bangers", sans-serif;
}



/*Footer*/
footer {
    background-color: black;
    color: whitesmoke;
    padding: 1.5%;
} footer h4 {
    text-align: center;
    margin: 10px;
} footer ul {
    list-style-type: none;
    background: none;
} footer a {
    text-decoration: none;
    color: whitesmoke;
} footer div {
    display: inline-block;
}

/*Blockquotes*/
 footer blockquotes {
    text-align: right;
    width: 100px;
    margin-left: 70px;
}